<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Simon dice</title>
        <script
            src="{{ url_for('static', filename = 'script.js') }}"
            defer
        ></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename = 'styles.css') }}"
        />
    </head>
    <body>
        <div class="tabulador">
            <p id="nivel">Nivel:</p>
            <p id="estado">¿Empezamos?</p>
        </div>
        <div class="gameboard">
            <div id="black-center">
                <div class="start">
                    <button id="btn-start">Start</button>
                    <button id="btn-reset">Reset</button>
                </div>
            </div>
            <div class="col">
              <div id="verde" class="boton color verde"></div>
              <div id="amarillo" class="boton color amarillo"></div>
              
            </div>
            <div class="col">
              <div id="rojo" class="boton color rojo"></div>
              <div id="azul" class="boton color azul"></div>
            </div>
        </div>
    </body>
</html>
